.widget{
	// Lists Items
  	ul {
  	    list-style: none;
  	    padding-left: 0;
  		li {
  		    margin-bottom: 5px;
  		    padding: 0 20px;
  		    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  			a {
  				span {
  				    color: #000;
  				    float: right;
  				}
  			    line-height: 30px;
  			    font-size: 10px;
  			    font-family: 'Montserrat', sans-serif;
  			    font-weight: 600;
  			    letter-spacing: 0.8px;
  			    text-transform: uppercase;
  			    -webkit-transition: all 0.25s ease-in-out;
  			    transition: all 0.25s ease-in-out;
  				&:hover {
  				    color: #000;
  				}
  			}
  		}
  	}

	// Calender Widget
	 #wp-calendar {
	     max-width: 100%;
	     margin: auto;
	     tr , td , th{
	     	border: 1px solid #DDD;
	     	padding: 10px;
	     }
	     caption {
	         font-weight: bold;
	         text-transform: uppercase;
	     }
	 }
	  // Search Widget
	  &.widget_search{
	  	.search-form { position: relative; }
	  	.screen-reader-text{ display: none; }
	  	// Search input box
	  	.search-field{
		    border: 1px solid #DDD;
		    width: 450px;
		    max-width: 100%;
		    font-size: 14px;
		    padding: 10px;
	  	}
	  	// Search submit button
	  	.search-submit{
		    position: absolute;
		    top: 0;
		    right: 8px;
		    text-indent: -99999999px;
		    background-color: transparent;
		    border: none;
		    background-image: url(../images/search.png);
		    background-repeat: no-repeat;
		    background-position: center center;
		    padding: 10px;
	  	}
	  }
	
	// Tag cloud
	.tag-cloud-link{
	    display: inline-block;
	    margin: 2px 2px;
		&[style="font-size: 20.193548387097pt;"],
		&[style="font-size: 17.784946236559pt;"],
		&[style="font-size: 15.225806451613pt;"],
		&[style="font-size: 22pt;"],
		{
			background-color: $color-scheme;
			color: #FFF;
			padding: 5px;
		}
	}

}
/**
 * Audio Player
 */
 .mejs-container, .mejs-container .mejs-controls, .mejs-embed, .mejs-embed body{
 	background-color: $color-scheme !important;
 }
