/**
 * Input Boxes
 */

label{
	/**
	 * { item_description }
	 */
}
input{
	&[type="text"],
	&[type="email"],
	&[type="number"],
	&[type="password"],
	&[type="date"]{
	    border: 1px solid #DDD;
	    padding: 2px 19px;
	    font-size: 14px;
	    margin-left: 8px;
	}
}
input[type="submit"] , button {
	background-color: $color-scheme;
    border: none;
    padding: 2px 18px;
    color: #FFF;
    font-weight: bold;
    font-size: 16px;
    transition: 500ms;
    &:hover{
    	opacity: .85;
    }
}

/**
 * Table
 */
 table{
 	td , tr , th {
 		border: 1px solid #DDD;
 		padding: 10px;

 	}
 }

/**
 * Definition Lists
 */

dd{
	margin-left: 25px;
	margin-bottom: 15px;
}


header.entry-header {
    padding: 20px 0;
}


/**
 * Stiky post
 */
 .single-post{
 	&.sticky{
 		background-color: whitesmoke; 
 		padding: 15px;
 		border-bottom: none;
 	}
 }
.entry-title{
	text-transform: uppercase;
}

/**
 * Archieve and search page title
 */
.archive , .category , .search {
	.page-header{
		text-align: center;
		text-transform: uppercase;
	}
	.search-keyword{
		color: #9e9e9e;
	}
}