/*
    Theme Name: SHOSI - clean html blog template
    Auther: ElectronThemes
    Author URI: https://themeforest.net/user/electronthemes
    Version: 1.1
*/

/*--------------------------------------------
	Table of contents
	-------------------------------
	1 - Header
	2 - Blog
		2.1 - Blog List
		2.2 - Featured blog list
	3 - Contact page
	4 - About page
	5 - 404 page
	6 - Footer
	7 - Widgets
---------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');

$color_scheme: #673AB7;

body{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 1.5em;
}
body * {
    outline: none!important;
}
a{
	color: $color_scheme;
	transition: .2s;
	&:hover{
		text-decoration: none;
		color:#111;
	}
}
img{
	max-width: 100%;
}

/**
 * ===========================================
 * 	1. Header
 * ===========================================
 */
@import "header";

/**
 * ===========================================
 * 	2. Blog
 * ===========================================
 */
/*=========== 2.1 Blog List ===========*/
@import "blog-list";
/*=========== 2.2 Featured blog list ===========*/
@import "featured-blog";


/**
 * ===========================================
 * 	3. Contact page
 * ===========================================
 */
@import "contact";

/**
 * ===========================================
 * 	4. About page
 * ===========================================
 */
@import "about";


/**
 * ===========================================
 * 	5. 404 page
 * ===========================================
 */
@import "404";


/**
 * ===========================================
 * 	6. Footer
 * ===========================================
 */
@import "footer";


/**
 * ===========================================
 * 	7. Widgets
 * ===========================================
 */
@import "widgets";

/**
 * Styles For wordpress default widgets
 */
@import "wp-widgets";
@import "wp_typography";
