/*
    Theme Name: SHOSI - clean html blog template
    Auther: ElectronThemes
    Author URI: https://themeforest.net/user/electronthemes
    Version: 1.1
*/
/*--------------------------------------------
	Table of contents
	-------------------------------
	1 - Header
	2 - Blog
		2.1 - Blog List
		2.2 - Featured blog list
	3 - Contact page
	4 - About page
	5 - 404 page
	6 - Footer
	7 - Widgets
---------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700");
body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5em;
}

body * {
  outline: none !important;
}

a {
  color: #673AB7;
  transition: .2s;
}
a:hover {
  text-decoration: none;
  color: #111;
}

img {
  max-width: 100%;
}

/**
 * ===========================================
 * 	1. Header
 * ===========================================
 */
header {
  width: 100%;
  position: relative;
  z-index: 1000;
}

.logo {
  text-align: center;
  margin: 20px auto;
}
.logo img {
  height: 38px;
  width: auto;
}
.logo a {
  color: #673AB7;
}
.logo h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 60px;
  margin: 0;
  text-transform: uppercase;
}

.menu {
  width: 100%;
  background-color: #fff;
  height: 54px;
  border-top: 3px solid #673AB7;
  border-bottom: 3px solid #673AB7;
}

.main-menu nav {
  position: relative;
  display: table;
  float: left;
  width: 100%;
}
.main-menu nav ul {
  display: table-cell;
  list-style: outside none none;
  margin: 0;
  padding: 0;
  text-align: left;
  vertical-align: middle;
}
.main-menu nav ul.sub-menu {
  z-index: 9999;
}
.main-menu nav ul li {
  padding-top: 2px;
  margin-right: 30px;
  display: inline-block;
  padding: 13px 0;
}
.main-menu nav ul li a {
  color: #111;
  font-family: 'Lato', sans-serif;
  padding: 13px 12px 17px 2px;
  font-size: 11px;
  letter-spacing: 1.4px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.main-menu nav ul li a:hover {
  color: #673AB7;
}
.main-menu .header-social-icon {
  float: right;
  margin-right: 0 !important;
}
.main-menu .header-social-icon a i {
  font-size: 15px;
}
.main-menu nav li ul {
  display: block;
  background: #fff;
  position: absolute;
  top: 49.8px;
  margin-left: 0;
  z-index: 1111;
  width: 200px;
  border-top: 1px solid #fff;
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.main-menu nav ul li:hover ul {
  opacity: 1;
  visibility: visible;
}
.main-menu nav ul ul li {
  margin: 0;
  display: block;
  padding: 0;
}
.main-menu nav ul ul li a {
  font-size: 11px;
  display: block;
  background-color: #fff;
  padding: 14px 20px;
  border-bottom: 1px solid #efefef;
  text-align: left;
}
.main-menu nav ul ul li:last-child a {
  border-bottom: 0;
}

/**Mobile Menu**/
.mean-bar {
  top: -20px;
}

.mean-container .mean-nav ul li a.mean-expand {
  margin-top: 1px;
  width: 26px;
  height: 23px;
}

/** Styke menu */
.sticky-nav {
  position: fixed;
  top: 0;
  animation: 300ms linear 0s normal none 1 running fadeInDown;
  border-top: none;
  border-bottom: 1px solid #ddd;
}

@media (max-width: 991px) {
  .header-social-icon, .search-icon {
    display: none;
  }
}
@media (max-width: 768px) {
  .menu {
    display: none;
  }
}
/**
 * ===========================================
 * 	2. Blog
 * ===========================================
 */
/*=========== 2.1 Blog List ===========*/
article.single-post {
  font-family: 'Open Sans', sans-serif;
  border-bottom: 1px solid #ddd;
  padding-bottom: 45px;
  padding-top: 15px;
  margin: 10px 0;
}
article.single-post:last-child {
  border-bottom: none;
}

.blog-title-and-meta {
  margin: 28px 0;
}
.blog-title-and-meta .post-title h3 {
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
}

.entry-excerpt p, .entry-content p, .profile-content p {
  color: #595959;
  font-size: 18px;
  line-height: 30px;
}

.my-photo {
  margin-bottom: 35px;
}

.entry-content img {
  margin: 15px 0;
}

.fet-image {
  margin: 35px 0;
  border-radius: 15px;
  overflow: hidden;
}
.fet-image img {
  transition: all 300ms ease-in-out;
}
.fet-image:hover img {
  transform: scale(1.1);
  opacity: .9;
}

a.read-more, .go-home a {
  border: 2px solid #673AB7;
  padding: 8px 16px;
  margin-top: 10px;
  display: inline-block;
  font-weight: 700;
  background-color: transparent;
}
a.read-more:hover, .go-home a:hover {
  color: #fff;
  background-color: #673AB7;
}

/**
 * Pagination
 */
.paginationIn {
  padding-bottom: 31px;
  padding-top: 43px;
  position: relative;
}
.paginationIn span, .paginationIn a {
  border: 1px solid #d7d7d7;
  padding: 8px 0px;
  color: #676666;
  font-size: 14px;
  width: 31px;
  height: 31px;
  text-align: center;
  line-height: .8;
  float: left;
  margin-right: 5px;
}
.paginationIn span.current, .paginationIn a:hover {
  background: #673AB7;
  color: #fff;
  border-color: #673AB7;
}

.paginationIn .dottedPagi {
  border: medium none;
  margin-left: 0;
  margin-right: 6px;
}

.paginationIn .next {
  font-size: 11px;
  line-height: 0.8;
  padding: 10px 0;
}

/**
 * Single post
 */
.single-recent-posts {
  padding-top: 20px;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  margin: 45px 0;
}

.single-recent-posts .recent-post {
  display: inline-block;
  padding: 0;
  margin-bottom: 10px;
}

.single-recent-posts .recent-post:last-child {
  float: right;
}

.single-recent-posts .recent-post img {
  height: 53px;
  width: 53px;
  float: left;
  margin-right: 10px;
}

.single-recent-posts .recent-post h4 {
  margin-top: 0;
}

.single-recent-posts .recent-post h4 a {
  font-size: 15px;
  font-weight: 600;
}

.single-recent-posts .recent-post p {
  font-size: 13px;
  letter-spacing: 0.2px;
  word-spacing: 1.4px;
  line-height: 16px;
  margin-top: 2px;
}

.prev-next span a {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  color: #333;
  word-spacing: 1.8px;
  letter-spacing: 1.2px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.prev-next {
  margin-top: 18px;
}

.prev-next span a:hover {
  color: #333;
}

.prev-next span:last-child a {
  float: right;
}

/**
 * Comment form
 */
.post-comments {
  margin-top: 80px;
}

.post-comment {
  display: block;
  margin-bottom: 50px;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}

.post-comment img {
  height: 68px;
  width: 68px;
  -o-object-fit: cover;
  object-fit: cover;
  float: left;
  margin-right: 20px;
  border-right: 2px solid #673AB7;
}

.post-comment h4 a {
  font-size: 15px;
  font-weight: 600;
}

.post-comment p {
  font-size: 14px;
  letter-spacing: 0.3px;
  word-spacing: 1.6px;
  line-height: 18px;
  margin-top: 8px;
}

.post-comment:first-child {
  margin-bottom: 30px;
}

.post-comment:nth-last-child(2) {
  margin-left: 80px;
  margin-bottom: 60px;
}

.post-comment:nth-last-child(3) {
  margin-left: 80px;
  margin-bottom: 60px;
}

.post-comment .post-date {
  display: inline-block;
  margin-left: 10px;
}

/**
 * Comment form
 */
.new-comment-post h4 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
}
.new-comment-post input, .new-comment-post textarea {
  border: 1px solid #ddd;
  width: 100%;
  padding: 10px;
}
.new-comment-post textarea {
  margin-top: 20px;
}
.new-comment-post button {
  background: #673AB7;
  border: none;
  font-size: 22px;
  padding: 5px 12px;
  margin-top: 15px;
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: 700;
  transition: .2s;
  text-transform: uppercase;
}
.new-comment-post button:hover {
  background-color: #C7C7C7;
}

/*=========== 2.2 Featured blog list ===========*/
/*===============  Small Featured Boxes ===================*/
.featured-posts {
  margin-top: 80px;
}

.featured-post {
  width: 100%;
  position: relative;
  text-align: center;
  margin-bottom: 15px;
}
.featured-post img {
  height: 235px;
  width: 100%;
  text-align: center;
  transition: all 0.25s ease-in-out;
  box-shadow: 0 0 5px #999;
  opacity: .7;
  -o-object-fit: cover;
  object-fit: cover;
}
.featured-post:hover .featured-post-title a {
  color: #673AB7;
}
.featured-post:hover img {
  opacity: 1;
}

.featured-post-title a {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #111;
  margin-top: 5px;
  display: inline-block;
  word-spacing: 1.6px;
  letter-spacing: 0.2px;
}

.post-date {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #969696;
  display: block;
}

@media (max-width: 991px) {
  .featured-post img, .mini-post img {
    width: 65%;
  }
}
@media (max-width: 600px) {
  .featured-post img, .mini-post img {
    width: 95%;
  }
}
/**
 * ===========================================
 * 	3. Contact page
 * ===========================================
 */
.my-photo img {
  margin-top: 75px;
}

.contact-form {
  margin-top: 45px;
}
.contact-form input, .contact-form textarea {
  border: 1px solid #DDD;
  width: 100%;
  padding: 7px 15px;
  margin: 12px 0;
}
.contact-form [type="submit"] {
  transition: .5s;
  background: #673AB7;
  border: none;
  color: #fff;
  padding: 9px 13px;
  font-size: 16px;
  font-weight: 700;
  display: inline-block;
  width: 152px;
  float: left;
  clear: both;
  border-radius: 3px;
}
.contact-form [type="submit"]:hover {
  opacity: .8;
}

/**
 * ===========================================
 * 	4. About page
 * ===========================================
 */
.about-text {
  text-align: left;
  line-height: 1.6em;
  margin-top: 30px;
}

/**
 * ===========================================
 * 	5. 404 page
 * ===========================================
 */
/*=============== 404 Error Page ===================*/
.error-page-content {
  padding: 80px 0 130px;
}

.error {
  font-size: 140px;
  text-align: center;
  margin: 10px 0 5px;
  color: #111;
}

.error-title {
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  word-spacing: 5px;
  font-size: 40px;
  color: #111;
}

.go-home {
  display: block;
  text-align: center;
  margin: 50px 0 40px;
}

.go-home a {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 900;
  padding: 11px 18px;
}

/**
 * ===========================================
 * 	6. Footer
 * ===========================================
 */
.footer {
  padding: 40px 0;
  text-align: center;
  background-color: #673AB7;
}
.footer a {
  color: #FFFFFF;
}
.footer a:hover {
  text-decoration: underline;
}
.footer .copyright {
  font-size: 12px;
  color: #ddd;
}
.footer .copyright span {
  color: tomato;
  margin: 0 5px;
}

.follow-me {
  padding: 25px 0;
}
.follow-me h2 {
  font-size: 40px;
  font-weight: 300;
}
@media (max-width: 514px) {
  .follow-me h2 {
    font-size: 35px;
  }
}

/**
 * Footer social icons
 */
.footer-social-icons {
  list-style: none;
  padding: 35px 0;
  text-align: center;
  border-top: 0;
}
.footer-social-icons li {
  display: inline-block;
  margin-right: 35px;
}
@media (max-width: 514px) {
  .footer-social-icons li {
    margin-right: 3px;
  }
}
.footer-social-icons i {
  font-size: 22px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer-social-icons a {
  color: #FFFFFF;
}
.footer-social-icons a:hover {
  text-decoration: none;
  color: #a29595;
}

/**
 * Footer insta section
 */
.singleInst {
  float: left;
  width: 12.5%;
  overflow: hidden;
}
.singleInst img {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  width: 100%;
}
.singleInst img:hover {
  transform: scale(1.06);
  opacity: .7;
}

/**
 * ===========================================
 * 	7. Widgets
 * ===========================================
 */
.sidebar {
  padding-left: 15px;
  padding-right: 15px;
}

.widget {
  margin: 65px 0;
}
.widget .widget-title {
  text-align: center;
  margin-bottom: 25px;
  text-transform: uppercase;
}
.widget .widget-title h4 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
}
.widget .widget-title .circle-line {
  position: relative;
}
.widget .widget-title .circle-line:after {
  content: "";
  position: absolute;
  top: 9px;
  left: 50%;
  background: #673AB7;
  height: 3px;
  width: 75px;
  margin-left: -37.5px;
}

/**
 * About me widget
 */
.widget-about {
  text-align: center;
}
.widget-about img {
  border-radius: 100%;
  border: 4px solid #673AB7;
}
.widget-about .profile-content {
  border: 4px solid #673AB7;
  margin-top: -35px;
  padding-top: 35px;
}
.widget-about .profile-content p {
  font-size: 16px;
  padding: 0 5px;
}
.widget-about .profile-content .designation {
  font-size: 18px;
  color: #000000;
}
.widget-about h3 {
  font-weight: 900;
}
.widget-about a.read-more, .widget-about .go-home a, .go-home .widget-about a {
  position: relative;
  bottom: -20px;
}
.widget-about .social-icons {
  margin-top: 18px;
}

/**
 * Social icons
 */
.social-icons {
  margin: 0;
  padding: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin: 0 5px;
}
.social-icons li a {
  font-size: 22px;
}

/**
 * Tag widget
 */
.tags li {
  display: inline-block;
  margin-bottom: 14px;
  margin-right: 10px;
}
.tags li a:hover .tag {
  background-color: #673AB7;
}

.tag {
  display: inline-block;
  background-color: #111;
  color: #fff;
  line-height: 25px;
  font-size: 10px;
  padding: 0 8px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.tag ul {
  padding-left: 0;
  list-style: none;
  text-align: left;
}

/**
 * Recent post
 */
.recent-post {
  margin-bottom: 15px;
}
.recent-post .recent-post-thumb {
  float: left;
  margin-right: 15px;
}
.recent-post .title {
  margin-top: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
}
.recent-post .title a {
  color: #111;
}
.recent-post .title a:hover {
  color: #673AB7;
}

/**
 * Teets
 */
.recent-tweets .tweet {
  display: block;
  padding: 0 20px;
  margin-bottom: 16px;
}
.recent-tweets .tweet i {
  color: #673AB7;
  font-size: 18px;
  float: left;
  padding: 5px 6px 6px 0;
}
.recent-tweets .tweet p {
  font-size: 13px;
  font-family: 'Lora', sans-serif;
  font-weight: 400;
  line-height: 21px;
  color: #555555;
}
.recent-tweets .tweet span {
  color: #868686;
  font-size: 10px;
  padding-left: 6px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  display: block;
  padding-left: 24px;
}
.recent-tweets .tweet:last-child {
  margin-bottom: 0;
}

.widget-recent-tweets {
  border-top: 3px solid #ffc2ca;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.06);
  padding: 40px 18px;
  margin-bottom: 40px;
}

/**
 * Categories widget
 */
.categories ul {
  list-style: none;
  padding-left: 0;
}
.categories ul li {
  margin-bottom: 18px;
  padding: 0 20px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
}
.categories ul li a {
  line-height: 30px;
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.categories ul li a span {
  color: #000;
  float: right;
}
.categories ul li a:hover {
  color: #000;
}

/**
 * Instagram widget
 */
.widget-instagram {
  text-align: center;
}

.insta-photos img {
  height: 144px;
  width: 144px;
  -o-object-fit: cover;
  object-fit: cover;
  opacity: 0.9;
  text-align: center;
  padding: 7px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.insta-photos img:hover {
  opacity: 1;
}

/**
 * Subscribe widget
 */
.widget-subscribe a {
  display: block;
  text-align: center;
  width: 100%;
  padding: 13px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  background-color: #673AB7;
  margin-top: 10px;
  letter-spacing: 0.4px;
  word-spacing: 2px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.widget-subscribe a:hover {
  background-color: #C7C7C7;
}

.subscribe {
  width: 100%;
  border: 0;
  background-color: #f8f8f8;
  color: #555;
  padding: 14px 18px;
  font-size: 13px;
  letter-spacing: 0.6px;
  word-spacing: 2px;
}

/**
 * Styles For wordpress default widgets
 */
.widget ul {
  list-style: none;
  padding-left: 0;
}
.widget ul li {
  margin-bottom: 5px;
  padding: 0 20px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
}
.widget ul li a {
  line-height: 30px;
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.widget ul li a span {
  color: #000;
  float: right;
}
.widget ul li a:hover {
  color: #000;
}
.widget #wp-calendar {
  max-width: 100%;
  margin: auto;
}
.widget #wp-calendar tr, .widget #wp-calendar td, .widget #wp-calendar th {
  border: 1px solid #DDD;
  padding: 10px;
}
.widget #wp-calendar caption {
  font-weight: bold;
  text-transform: uppercase;
}
.widget.widget_search .search-form {
  position: relative;
}
.widget.widget_search .screen-reader-text {
  display: none;
}
.widget.widget_search .search-field {
  border: 1px solid #DDD;
  width: 450px;
  max-width: 100%;
  font-size: 14px;
  padding: 10px;
}
.widget.widget_search .search-submit {
  position: absolute;
  top: 0;
  right: 8px;
  text-indent: -99999999px;
  background-color: transparent;
  border: none;
  background-image: url(../images/search.png);
  background-repeat: no-repeat;
  background-position: center center;
  padding: 10px;
}
.widget .tag-cloud-link {
  display: inline-block;
  margin: 2px 2px;
}
.widget .tag-cloud-link[style="font-size: 20.193548387097pt;"], .widget .tag-cloud-link[style="font-size: 17.784946236559pt;"], .widget .tag-cloud-link[style="font-size: 15.225806451613pt;"], .widget .tag-cloud-link[style="font-size: 22pt;"] {
  background-color: #673AB7;
  color: #FFF;
  padding: 5px;
}

/**
 * Audio Player
 */
.mejs-container, .mejs-container .mejs-controls, .mejs-embed, .mejs-embed body {
  background-color: #673AB7 !important;
}

/**
 * Input Boxes
 */
label {
  /**
   * { item_description }
   */
}

input[type="text"], input[type="email"], input[type="number"], input[type="password"], input[type="date"] {
  border: 1px solid #DDD;
  padding: 2px 19px;
  font-size: 14px;
  margin-left: 8px;
}

input[type="submit"], button {
  background-color: #673AB7;
  border: none;
  padding: 2px 18px;
  color: #FFF;
  font-weight: bold;
  font-size: 16px;
  transition: 500ms;
}
input[type="submit"]:hover, button:hover {
  opacity: .85;
}

/**
 * Table
 */
table td, table tr, table th {
  border: 1px solid #DDD;
  padding: 10px;
}

/**
 * Definition Lists
 */
dd {
  margin-left: 25px;
  margin-bottom: 15px;
}

header.entry-header {
  padding: 20px 0;
}

/**
 * Stiky post
 */
.single-post.sticky {
  background-color: whitesmoke;
  padding: 15px;
  border-bottom: none;
}

.entry-title {
  text-transform: uppercase;
}

/**
 * Archieve and search page title
 */
.archive .page-header, .category .page-header, .search .page-header {
  text-align: center;
  text-transform: uppercase;
}
.archive .search-keyword, .category .search-keyword, .search .search-keyword {
  color: #9e9e9e;
}

/*# sourceMappingURL=style.css.map */
