header {
    width: 100%;
    position: relative;
    z-index: 1000;
}


    .logo {
        text-align: center;
        margin: 20px auto;
        img {
            height: 38px;
            width: auto;
        }
        a{
            color: $color_scheme;
        }
        h1{
            font-family: 'Raleway', sans-serif;
            font-weight: 300;
            font-style: normal;
            font-size: 60px;
            margin: 0;
            text-transform: uppercase;
        }
    }

.menu {
    width: 100%;
    background-color: #fff;
    height: 54px;
    border-top: 3px solid $color_scheme;
    border-bottom: 3px solid $color_scheme;
}


.main-menu{
nav {
    position: relative;
    display: table;
    float: left;
    width: 100%;
    ul {
        display: table-cell;
        list-style: outside none none;
        margin: 0;
        padding: 0;
        text-align: left;
        vertical-align: middle;
        li {
            padding-top: 2px;
            margin-right: 30px;
            display: inline-block;
            padding: 13px 0;
            a {
                color: #111;
                font-family: 'Lato', sans-serif;
                padding: 13px 12px 17px 2px;
                font-size: 11px;
                letter-spacing: 1.4px;
                font-weight: 600;
                text-transform: uppercase;
                -webkit-transition: all 0.25s ease-in-out;
                transition: all 0.25s ease-in-out;
                &:hover {
                    color: $color_scheme;
                }
            }
        }
    }
}

.header-social-icon {
    float: right;
    margin-right: 0 !important;
    a i {
        font-size: 15px;
    }
}


//*=============== Dropdown Menu ===================*/
nav li ul {
    display: block;
    background: #fff;
    position: absolute;
    top: 49.8px;
    margin-left: 0;
    z-index: 1111;
    width: 200px;
    border-top: 1px solid #fff;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

nav ul li:hover ul {
    opacity: 1;
    visibility: visible;
}

nav ul ul li {
    margin: 0;
    display: block;
    padding: 0;
}

nav ul ul li a {
    font-size: 11px;
    display: block;
    background-color: #fff;
    padding: 14px 20px;
    border-bottom: 1px solid #efefef;
    text-align: left;
}

nav ul ul li:last-child a {
    border-bottom: 0;
}

}

/**Mobile Menu**/
.mean-bar {
    top: -20px;
}
.mean-container .mean-nav ul li a.mean-expand {
    margin-top: 1px;
    width: 26px;
    height: 23px;
}


/** Styke menu */
.sticky-nav{
        position: fixed;
        top: 0;
        animation: 300ms linear 0s normal none 1 running fadeInDown;
        border-top: none;
        border-bottom: 1px solid #ddd;
}


@media (max-width: 991px){
    .header-social-icon , .search-icon {
        display: none;
    }
}

@media (max-width: 768px){
    .menu{
        display: none;
    }
}